<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
</head>
<body>
    <p>Hello {{user.firstName}}</p>
    <p>You have 5 minutes to change your password</p>
    <p>change the password from this  <a href="{{url}}/api/session/changepassword/{{jwt}}">link</a></p>
</body>
</html>